<head>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

</head>
<body>
    <form action="http://127.0.0.1:5000/nonce">
        <div id="dropin-container"></div>
        <script>
            braintree.setup("{{data.clienttoken}}", "dropin", {
                container: "dropin-container",
                paypal: {
                    singleUse: true,
                    amount: {{data.amount}},
                    currency: 'USD'
                }
            });

        </script>
    </form>
</body>
